<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @content.title %>
</p>

<p>
  <b>Content:</b>
  <%= @content.content %>
</p>

<p>
  <b>Seo title:</b>
  <%= @content.seo_title %>
</p>


<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
