<%= form_for(@node, remote: true) do |f| %>
  <ul class="locale">
  <% @languages.each do |language| %>
    <li><%= link_to_unless_current language.ident, edit_node_path(@node, locale: language.ident), remote: true %></li>
  <% end %>
  </ul>

  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>
      <ul>
      <% @node.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
    <%= f.text_field :title %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
