<li id="node_<%= node.id %>">
  <div class="title"><%= link_to node.name, node %> : <%= node.title %></div>
  <div class="locales">
    <ul>
    <% node.translations.each do |t| %>
        <li><%= t.locale %></li>
    <% end %>
    </ul>
  </div>
  <div class="actions">
    <%= link_to 'Show', node %>
    <%= link_to 'Edit', edit_node_path(node) %>
    <%= link_to 'Destroy', node, method: :delete, remote: true %>
  </div>
</li>