<h1>Listing nodes</h1>

<div id="edit_node_dialog"></div>

<ul id="nodes">
    <%= render @nodes %>
</ul>

<br />


<%= form_for(Node.new, remote: true) do |f| %>
  <div id="node-create-form">
    <div class="errors"></div>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>

<%= link_to 'New Node', new_node_path %>


