<!DOCTYPE html>
<html>
<head>
  <title>Oleksa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="locale">
  <%= link_to_unless_current "English", locale: "en" %> |
  <%= link_to_unless_current "Ukrainian", locale: "ua" %> |
  <%= link_to_unless_current "Russian", locale: "ru" %>
</div>
<div id="modal_dialog"></div>

<%= yield %>

</body>
</html>
